<div class="widget widget-footer col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h4 class="widget-title" style="text-align: left;color: white">Popular tags</h4>
    <ul style="text-align: left;margin-top: 30px;">
        <li><a href="/tag/kubernetes/">Kubernetes</a></li>
        <li><a href="/tag/prometheus/">Prometheus</a></li>
        <li><a href="/tag/bash/">Bash</a></li>
        <li><a href="/tag/golang/">Golang</a></li>
        <li><a href="/tag/docker/">Docker</a></li>
        <li><a href="/tag/jenkins/">Jenkins</a></li>
    </ul>
</div>
