<footer id="footer" class="footer footer-page hide-on-menu">
    <div class="container">
        <div class="row">
            {{> widgets/footer-tags}}
            {{> widgets/footer-about}}
            {{> widgets/footer-newsletter}}
        </div>
        <div class="row copyright">
            <div class="col-sm-12">
                <p class="copyright" style="color:#b1b1b1;">
                    <a href="https://linuxwt.com" target="_blank" rel="noopener">linuxwt's Field | 今晚打老虎  </a>
                    Copyright &copy; 2017 - 2020
                    <a href="http://www.miitbeian.gov.cn/" style="color: #ffffff">  鄂ICP备17018374号</a>
                    <a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42018502000605"  style="color: #ffffff">鄂公网安备42018502000605号</a>
                    
                </p>
            </div>
        </div>
    </div>

</footer>
