<aside class="sidebar" aria-label="Sidebar">
	<div class="sidebar-scrollable">
		<div class="widget-area">
                        <section class="widget widget-text">
                              <h2 class="widget-title">My Certificate</h2>
                         <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="fee93894-14dc-4036-9f61-4444dff818cd"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
                        </section>
			<section class="widget widget-text">
				<h2 class="widget-title">About {{@blog.title}}</h2>
				<img src="https://img.linuxwt.com/images/2018/1010background-cover_.png" style="width:auto;height:auto;max-width:100%;max-height:100%;"/>
				<p>今晚打老虎的博客，会在这里更新每日所学，所想,希望能在这里和大家分享，踩坑经验阅读体会。哪怕有一天这里都没有人来看了，我也会记录下自己一步一个的脚印，与时间做朋友，见证自己的成长。</p>
				<p>题图含义，也有很多同学问我博客题图放一张冰山的图有什么特殊含义。这张图其实是下"半边"都是"冰霜"，也正是"冰霜之地"的意思。这张图也是我找了好久才找到的，当时一看见就立即看中了，真的有种可遇不可求的感觉。</p>
				<img src="https://img.linuxwt.com/2d9c8ec383f60ac959291e172b584.jpg" style="width:auto;height:auto;max-width:100%;max-height:100%;"/>
				<p> 💪 天道酬勤，勤能补拙。博观而约取，厚积而薄发。</p>
			</section>
			<section class="widget widget-text">
				<h2 class="widget-title">Contact</h2>
				<img src="{{primary_author.profile_image}}" style="width:auto;height:auto;max-width:100%;max-height:100%;"/>
				<p>中文笔名：今晚打老虎，出处来周星驰的某部电影（我是周星驰粉丝~）<br><br>
				英文名 tengwang，出处源自于大家对中文笔名的简称。目前twiiter和facebook还没有账号，如果有问题，欢迎通过一下的联系方式来撩。😜 </p>
				<ul class="contacts">
					<li><a href="https://github.com/linuxwt"><i class="fa fa-github"></i>  @linuxwt</a></li>
					<li><a href="https://weibo.com/halfrost"><i class="fa fa-weibo"></i>  @linuxwt</a></li>
					<li><a href="https://twitter.com/linuxwt1987"><i class="fa fa-twitter"></i>  @linuxwt</a></li>
					<li><span class="fa fa-envelope" aria-hidden="true"></span>  tengwanginit@gmail.com</li>
					<li><span class="fa fa-map-pin" aria-hidden="true"></span>    中国武汉 光谷</li>
				</ul>
				<p>如果是特别急的事情，需要当面沟通，也可以通过微信联系，加好友请注明从何处获得到微信号，和加好友的意图(比如讨论技术等等)，至于微信号在哪里，就卖个关子，有缘人自然会相见 🤪 </p>
			</section>
                        <section class="widget widget-text">
                              <h2 class="widget-title">Music</h2>
                              <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" allow="autoplay"  width=330 height=110 src="//music.163.com/outchain/player?type=0&id=2774951563&auto=1&height=90"></iframe>
                        </section>
                </section>
		</div>
		<a class="sidebar-toggle" href="#"><span class="screen-reader-text"></span><span aria-hidden="true" class="icon-close-custom"></span></a>
	</div>
</aside>
