{{!< default}}
<header id="header" {{#if tag.feature_image}}data-url="{{img_url tag.feature_image}}"{{else}}data-url="https://img.linuxwt.com/tagbackground-cover1.jpg"{{/if}} class="home-header lazy blog-background banner-mask">
        <div class="header-wrap">
        <div class="home-info-container">
            <a href="{{@blog.url}}"><h2>Every thing about</h2></a>
            <h4>「{{tag.name}}」</h4>
        </div>
    </header>


<main class="content" id="main" role="main">
    {{> "loop"}}
</main>
