<div class="widget widget-footer col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h2 class="widget-title">Popular tags</h2>
    <ul>
        <li><a href="/tag/kubernetes/">Kubernetes</a></li>
        <li><a href="/tag/prometheus/">Prometheus</a></li>
        <li><a href="/tag/bash/">Bash</a></li>
        <li><a href="/tag/docker/">Docker</a></li>
        <li><a href="/tag/jenkins/">Jenkins</a></li>
    </ul>
</div>
